:root{
    --main-font:'Alumni Sans Pinstripe', sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:url(/images/pexels-uzunov-rostislav-5011647.jpg);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    color:#fff;
    font-family:var(--main-font);
}

.container{
    max-width:1140px;
    margin:0 auto;
    height:100%;
    padding:20px;
}


#start-button{
    padding:10px 30px;
    outline:none;
    border:none;
    border-radius:50px;
    cursor:pointer;
    font-family:var(--main-font);
    font-size:1.3rem;
    display:flex;
}
.container h1{
    font-size:3rem;
}

.content-wrapper{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.hide{
    display:none;
}

.show{
    display:block;
}

.score {
    font-size:0.8rem;
}

.question{
    background-color:rgba(255, 255, 255, 0.3);
    color:#fff;
    padding:10px 20px;
    margin-bottom:30px;
    border-radius:50px;
}

.question h2{
    font-size:3rem;
}

label{
    font-size:1.8rem;
}
.grid-item{
    display:flex;
    justify-content: center;
    gap:20px;

}



.options-grid{
    display:grid;
    grid-template-columns:repeat(2);
    margin-bottom:20px;
}

.option{
background-color: #fff;
color:#000;
padding:10px 30px;
cursor:pointer;
border-radius:50px;
font-size:1.2rem;
}


.btn{
    padding:10px 30px;
    outline:none;
    border:none;
    border-radius:50px;
    cursor:pointer;
    font-family:var(--main-font);
    font-size:1.3rem;
    display:flex;
}
